@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=planet");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-serif,
.font-cinzel {
  font-family: "Cinzel", serif;
}

[x-cloak] {
  display: none !important;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover,
input[type="date"]::-webkit-calendar-picker-indicator:hover,
input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.htmx-indicator {
  display: none;
}

.htmx-request.htmx-indicator,
.htmx-request .htmx-indicator {
  display: block;
}

/* Target by ID or by the specific class */
.drp {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* The custom caret SVG */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");

  /* Control the position (0.75rem from right) */
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;

  /* Ensure text doesn't overlap the arrow */
  padding-right: 2.5rem;
}

/* Optional: Fix for IE if needed */
.drp::-ms-expand {
  display: none;
}

/* ==============================================================

  d3 wheel styles

  ============================================================== */

[data-astro-wheel-root] text {
  text-anchor: middle;
  dominant-baseline: middle;
}

[data-astro-wheel-root] .arc {
  stroke: #fff;
  stroke-width: 2;
}

[data-astro-wheel-root] .nakshatra {
  stroke: rgba(255, 130, 6, 1);
  stroke-width: 1.5;
}

[data-astro-wheel-root] .degree-line {
  stroke: #ff6347;
  stroke-width: 2;
}

[data-astro-wheel-root] .planet-code {
  fill: #fff;
  font-size: 10px;
  font-weight: 800;
}

/* ============================================================== */
